
/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Press+Start+2P&display=swap');

ul{
    list-style: none;
}

/* General of nav */
.nav ul{
    color: white;
    display: flex;
    gap: 30px;
    text-align: center;
    margin: -30px;
    justify-content: center;
    font-family: 'Press Start 2P', 'san-serf';
}

/* Formatting the navigation */
.nav li{
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: green;
    position: static;
    
}

/* fixing it up */
.features ul { 
    padding: 0;          
    text-align: center;       
}
/* looks and position of feautres */
.features li {
    font-size: 18px;
    background-color: green;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Press Start 2P', 'san-serif';
    margin-left: 450px;  
    margin-right: 300px;  
}


.features{
    font-size: 10px;
    padding-top: 15px;
    display: block;
    text-align: center;
    padding-bottom: 100px;
}

/* To change cursor and ccolor of list when you hover over them */
li:hover{
        background-color: white;
        cursor: pointer;
        color: black;
      }
/*so when hover it still works even with href*/
.nav a:hover{
    background-color: white;
    cursor: pointer;
    color: black;
}  
/* Formatting and Clean look  */
.header{
    
    font-family: 'Press Start 2P', sans-serif;
    font-size: large;
    color: white;
    width: 100%;
    text-align: center;
    background-color: green;
    padding: 14px;
    position: fixed;
    top: 0;
    left: 0;
    flex-grow: 1;
}


/* Fix header 2 */
h2{
    padding-left: 55px;
    font-size: 55px;
    max-width: 80%;
    color: white;
    font-family: 'Press Start 2P', 'san-serif';
    margin: 0 auto;
}



/*formatting*/


/* Formatting  */
.Histroy{
    max-width: 80%;
    color: white;
    font-family: 'Libertinus Math', 'San-serif';
    font-size: 20px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
}
/* Formating  */
.Game{
    max-width: 80%;
    color: white;
    font-family: 'Libertinus Math', 'San-serif';
    font-size: 20px;
    margin: 0 auto;
}


.Game p{
    background-color: rgba(0, 0, 0, 0.6);
    margin-left: 300px;
}
/* FOrmating  */
      .footer{
        position: fixed;
        background-color: green;
        color: #fff;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
      }


/* Allow scrolling  */
body{
    display: flex;
    flex-direction: column;
    background-color: #424242;
    padding-top: 150px;
    overflow: auto;
    background-image: url(images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*  Formatting fo image */
img{
     float: left;
    margin: 25px;
    padding-left: 50px;
    width: 15%;
}

p{

    color: white;
    font-size: 35px;
}

*{
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

/*Store*/
.Store{

    color: white;
    font-family: 'Libertinus Math', 'San-serif';
    font-size: 20px;
    max-width: 80%;
    margin: 0 auto;
}

.Store table{
    font-family: 'Libertinus Math', 'San-serif';
    width: 100%;
    margin-top: 55px;
}

.Store th,td{
    border: 5px solid green;
    padding: 8px;
    text-align: center;
    font-size: 50px;
}

.Store th{
    background-color: #19aeee;
}

.Store tr:nth-child(even){
    background-color: 	#00AA00;
}

.Store tr:nth-child(odd){
    background-color: 	#9b7653;
}





/*NEWS*/



.Newsp{
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Libertinus Math', 'San-serif';
    margin-top: 15px;
}

.Gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
    border: 1px solid #ccc;
    float: left;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    transition: border 0.3s ease;
}

.Gallery img {
    width: 100%;
    max-width: fit-content;
    height: 200px;       
    object-fit: cover;   
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
    font-size: 26px;
    width: 100%;
}

.Gallery:hover {
    border: 1px solid green;
}








/*NEWS*/


/*DEVELOPER*/

.Developer p{
    margin-top: 60px;
        font-size: 45px;
}


.Developer{
    max-width: 80%;
    color: white;
    font-family: 'Libertinus Math', 'San-serif';
    margin: auto;
    margin-top: 55px;
    background-color: rgba(0, 0, 0, 0.6);
}

.Developer h2{
    margin-top: 35px;
}

.Developer-Photo{
    width: 100%;
    max-width: 400px;
    height: 300px;
    border-radius: 50%;
}

/*DEVELOPER*/
